<template name="SingleNav">
	<nav class="side-nav">
		<ul>
			<li>
				<a href="/"><i class="fa fa-chevron-left"></i>Back to the List</a>
			</li>
		</ul>

		
		<ul>
			<li><h4>Or Pick a Category:</h4></li>
			<li>
			<a href="/focused"><i class="fa fa-flash"></i>Focused</a>
		</li>
		<li>
			<a href="/energized"><i class="fa fa-battery-full"></i>Energized</a>
		</li>
		<li>
			<a href="/happy"><i class="fa fa-smile-o"></i>Happy</a>
		</li>
		<li>
			<a href="/calm"><i class="fa fa-hand-peace-o"></i>Calm</a>
		</li>
		<li>
			<a href="/sleepy"><i class="fa fa-bed"></i>Sleepy</a>
		</li>
		</ul>
	</nav>
</template>